*{
    margin: 0;
    padding: 0;
}
.sidevar-1{
    height: 100vh;
    width: 300px;
    background-color: rgba(2, 3, 27, 0.872);
}
.sidevar-list{
    height: auto;
    width: 100%;
}
.row{
    width: 100%;
    height: 80px;
    /* border: 1px solid black; */
    /* color: white; */
    list-style-type: none;
    margin: 0%;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.row:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.363);
}
.icon{
    flex: 30%;
    display: flex;
    justify-content: center;
}
.title{
    flex: 70%;
}

